@model IEnumerable<DiscussionForum.Models.VoteModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    @*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
    <table class="table">
        <tr>
            <th>
                S.NO #
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Answer.Answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vote)
            </th>
            <th>
                Action
            </th>
        </tr>
    @{ 
        int i = 1;
    }
    @foreach (var item in Model) {
        <tr>
            <td>
                @i.
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Answer.Answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vote)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id=item.VoteId }) |*@
                @*@Html.ActionLink("Details", "Details", new { id=item.VoteId }) |*@
                @Html.ActionLink("Delete", "Delete", new { id=item.VoteId }, new { @class = "btn btn-info" })
            </td>
        </tr>
        i++;
    }
    
    </table>
</body>
</html>
