@model DiscussionForum.Models.QCommentModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>QCommentModel</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Question.Title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Question.Title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Comment)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Comment)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QCommentId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
